<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/signup.css">
    <title>Sign Up</title>
  </head>
  <body>
    <div class="maindiv">
      <div class="signup">
        <h3>Sign Up</h3>
      </div>
      <div class="input">
        <form action="/users/create" method="post">
          <label for="name">Name</label>
          <br>
          <input type="text" id="name" name="name" placeholder="John Doe" required/>
        </div>
        <div class="input">
          <label for="email">Email</label> <br>
          <input type="email" id="email" placeholder="abc@email.com" name="email" required />
        </div>
        <div class="input">
          <label for="password">Password</label> <br>
          <input type="password" placeholder="Password" id="password" name="password" required />
        </div>
        <div class="input">
          <label for="confirmPassword">Confirm Password</label><br>
          <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Re-enter Password"  required />
        </div>
        <div class="btn">
          <button type="submit">Sign Up</button>
        </div>
      </form>
      <div class="submit" >
        <a href="/users/signin">Log in Instead</a>
      </div>
      </div>
  </body>
</html>
